[Unit]
Description=Homedash nodejs server
After=network.target

[Service]
WorkingDirectory=/home/pi/homedash-server
ExecStart=/usr/bin/yarn start
Type=simple
User=pi

[Install]
WantedBy=multi-user.target
